git+https://github.com/microsoft/Olive
transformers
accelerate
bitsandbytes
datasets
trl
protobuf
einops
peft
numpy
optimum
onnxruntime-gpu
--extra-index-url=https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-genai/pypi/simple/
onnxruntime-genai-cuda
ipykernel
